<figure{{ if or (.Get "class") (eq (.Get "align") "center") }} class="
        {{- if eq (.Get "align") "center" }}align-center {{ end }}
        {{- with .Get "class" }}{{ . }}{{- end }}"
{{- end -}}>
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}

    {{- $image := .Get "src" }} <!-- Get the source path -->
    {{- if $image }} <!-- Check if the image source is provided -->
        {{- $resized := resources.Get (printf "static%s" $image) }} <!-- Get the image resource -->
        {{- if $resized }} <!-- Check if the resource is found -->
            {{- $processed := $resized.Resize (.Get "width" | default "600x") }} <!-- Resize the image -->
            <img loading="lazy" src="{{ $processed.Permalink }}" alt="{{ .Get "alt" }}">
        {{- else }}
            <p>Image not found: {{ $image }}</p> <!-- Optional error message -->
        {{- end }}
    {{- end }}

    {{- if .Get "link" }}</a>{{ end -}}
    
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>
            {{ with (.Get "title") -}}
                {{ . }}
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>
